---
---

$home-color: #CF3721;
$blog-color: #b67fbb;
$bioinformatics-color: #31A9B8;
$art-color: #F5BE41;
$projects-color: #258039;

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.nav-container {
    width: 100%;
    display: flex;
}

.tablink {
    color: black;
    background: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 24px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}

.tablink:hover {
    color: white;
}

.tab-home:hover {
    background: $home-color;
}

.tab-blog:hover {
    background: $blog-color;
}

.tab-bioinformatics:hover {
 background: $bioinformatics-color;
}

.tab-art:hover {
    background: $art-color;
}

.tab-projects:hover {
    background: $projects-color;
}

.bg-home {
    background: $home-color;
}

.bg-blog {
    background: $blog-color;
}

.bg-bioinformatics {
 background: $bioinformatics-color;
}

.bg-art {
    background: $art-color;
}

.bg-projects {
    background: $projects-color;
}