---
permalink: "/science/mass-spec/mass-analyzers"
---
<html>

  <head>
    <title>Mass Analyzers</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    {% include ga.html %}

  </head>

  <header>
  </header>

  <body>

  <div class="reveal">
    <div class="slides">

      <section>
        Mass Analyzers
      </section>

      <section>
        Speed
      </section>

      <section data-state="massAccuracy">
        <span class="accuracy"></span>
      </section>

      <!-- Section on resolution -->
      <section>
        <section>
          Resolution
        </section>

        <!-- Futurama clip -->
        <section data-background-iframe="https://www.youtube.com/embed/WwnI0RS6J5A?rel=0&autoplay=1">
        </section>

        <section>

        </section>

        
      </section>

    </div>
  </div>

  {% include reveal.html %}
  <script src="/js/typed.min.js"></script>
  <script src="/js/mass-analyzers.js"></script>

  {% include footer.html %}

</html>