---
permalink: "/art/"
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

		<title>Art</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />		
		<style>{% include css/slideshow.css %}</style>

		{% include icons.html %}
		{% include fonts.html %}
		{% include ga.html %}

	</head>
	<body class="bg-art">
        <div class="page-container">
            <div class="nav-container">
                {% include nav.html %}
            </div>
            
            <div class='content-container'>
				
				<div id="slideshow">
						<img id="slide-image" src="{{ site.base_url }}/images/lizard.jpg">
					<div id="slide-nav">
						<button class="img-button" onclick="advanceSlideShow(-1)">
							<
						</button>
						<button class="img-button" onclick="advanceSlideShow(1)">
							>
						</button>
					</div>
					<div id="slide-title">Green lizard</div>
					<div id="slide-caption">A friendly lizard I found in the backyard</div>
				</div>
					
				
            </div>

            <div class="footer">
                {% include footer.html %}
            </div>
		</div>	
		
		<script>
			var data = {% include imageList.json %};
			var curIdx = 0;
			(function() {
				let windowHeight = window.innerHeight;
				let windowWidth = window.innerWidth;
				let slideImage = document.getElementById("slide-image");
				if(windowWidth > windowHeight) {
					slideImage.height = windowHeight / 2;
					slideImage.style.width = "auto";
				}
				else {
					slideImage.width = windowWidth * 0.7;
					slideImage.style.height = "auto";
				}

				document.getElementById("slide-title").innerHTML = data[curIdx].title;
				document.getElementById("slide-caption").innerHTML = data[curIdx].description;
				document.getElementById("slide-image").setAttribute("src", data[curIdx].image);
			}());
			
			function advanceSlideShow(n) {
				if(curIdx===0 && n===-1) {
					curIdx = data.length - 1;
				}
				else if(curIdx===data.length-1 && n===1) {
					curIdx = 0;
				}
				else {
					curIdx += n;
				}
				document.getElementById("slide-title").innerHTML = data[curIdx].title;
				document.getElementById("slide-caption").innerHTML = data[curIdx].description;
				document.getElementById("slide-image").setAttribute("src", data[curIdx].image);
			}

		</script>
	</body>
	
	{% include cookieconsent.html %}

	<script>
		var homeTab = document.getElementById('tab-art');
		homeTab.classList.add('bg-art');
	</script>
</html>