---
permalink: "/art/"
---
<html>
  <head>
    <title>Art</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
    {% include ga.html %}
  </head>

  {% include icons.html %}
  {% include fonts.html %}
  
  <style>
    {% include css/art.css %}
  </style>

  <header>
  </header>

  <body>
    <a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a>
    <br />

    <br />
    <br />

    My tools of choice for scientific visualization are <a href="https://www.cgl.ucsf.edu/chimera/">UCSF Chimera</a> to clean up the protein structures and then <a href="https://www.blender.org/">Blender</a> for the rendering.

    <br />
    <br />

    <img src="/images/art/nav_channel.png" alt="Voltage gated sodium channel"/>

  </body>
    {% include footer.html %}

</html>
