---
permalink: "/bioinformatics/"
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

		<title>Bioinformatics</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />		
		
		{% include icons.html %}
		{% include fonts.html %}
		{% include ga.html %}

	</head>
	<body class="bg-bioinformatics">
        <div class="page-container">
            <div class="nav-container">
                {% include nav.html %}
            </div>
            
            <div class='content-container'>
                <p>
                    Bioinformatics is just code for scientific programming.
                </p>

                <p>
                    I consider myself fairly fluent in both JavaScript and Python. Python is an obvious choice for bioinformatics, but I mostly stick with JavaScript because 1) I like it and 2) I think it is an important language to learn/use as more and more software moves to the cloud.
                </p>

                <p>
                    One of my pet projects is <a href="https://emptyport.github.io/omics-js/" target="_blank">Omics.js</a>, a collection of JavaScript modules that are useful to the "omics." Right now the focus is on proteomics because that is what I do, but the goal is to include the other omics as well. Omics.js is my way of compiling a list of good JavaScript modules and to see what is still missing. I am slowly filling in the gaps with my own modules that you can see on my <a href="https://github.com/emptyport" target="_blank">Github</a> or on <a href="https://www.npmjs.com/~emptyport" target="_blank">npm</a>.
                </p>
                <br />
            </div>

            <div class="footer">
                {% include footer.html %}
            </div>
        </div>	
	</body>

	<script>
		var homeTab = document.getElementById('tab-bioinformatics');
		homeTab.classList.add('bg-bioinformatics');
	</script>
</html>