---
permalink: "/blog/"
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/blog.css">
	<script src="/js/blog.js"></script>
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="/css/main.css" />		

	<title>Blog</title>
	{% include ga.html %}
</head>

{% include icons.html %}
{% include fonts.html %}

<body class="bg-blog">
	<div class="nav-container">
		{% include nav.html %}
	</div>

	
	<div class="content-container">
		<div class="search-div">
			<form action="{{ site.base_url }}/search" method="get" class="search-form">
				<input type="text" id="search-box" name="query" placeholder="Search">
				<input type="submit" value="Go!">
			</form>
		</div>
		
		<div class="blog-list">
			{% for post in site.posts limit:10 %}
				<article>
					<h1><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h1>
					<p>{{ post.date | date_to_string }}</p>
					<p>{{ post.content | truncatewords: 100}}</p>
				</article>
			{% endfor %}
			<i>Only the 10 most recent posts are displayed here. If you can't find what you're looking for, try searching for it or check in the <a href="{{ site.base_url }}/archive">archive</a>.</i>
		</div>
	</div>
	
	<div class="footer">
		{% include footer.html %}
	</div>
</body>

  	<script>
		var homeTab = document.getElementById('tab-blog');
		homeTab.classList.add('bg-blog');
	</script>
</html>
