---
permalink: "/blog/"
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/blog.css">
	<script src="/js/blog.js"></script>
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	<title>Blog</title>
	{% include ga.html %}
</head>

{% include icons.html %}
{% include fonts.html %}

<body>
	<div class="my-nav">
		<a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a>

		<form action="{{ site.base_url }}/search" method="get" class="search-form">
			<input type="text" id="search-box" name="query" placeholder="Search">
			<input type="submit" value="Go!">
		</form>
	</div>
	<div class="container">
		{% for post in site.posts limit:10 %}
			<article>
				<h1><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h1>
				<p>{{ post.date | date_to_string }}</p>
				<p>{{ post.content | truncatewords: 100}}</p>
			</article>
		{% endfor %}
	</div>
	<div>
		<i>Only the 10 most recent posts are displayed here. If you can't find what you're looking for, try searching for it or check in the <a href="{{ site.base_url }}/archive">archive</a>.</i>
	</div>
	
</body>
  {% include footer.html %}

</html>
