---
permalink: "/science/entomology/"
---
<html>

  <head>
    <title>Entomology</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    {% include ga.html %}
  </head>

  <header>
    {% include science-header.html %}
  </header>

  <body>

    <h1>Entomology</h1>

    <p>
      I can't remember a time in my life when I wasn't collecting insects.
    </p>
    <p>
      When I got to college, I started working in the <a href="https://mlbean.byu.edu/">Monte L. Bean Life Science Museum</a> at BYU in the insect collection. I learned to properly pin an insect and quickly became the top pinner. Later on I would identify insects and arachnids from pitfall traps for a surveying project out at Dugway Proving Grounds.
    </p>
    <p>
      I don't do as much as I'd like with entomology at the moment; I used to run a <a href="http://freakyfriendsbugs.blogspot.com/">blog about bugs</a> as a learning resource and as a place to showcase my insect photography, but then grad school started and I got pretty busy.
    </p>    
  </body>
  {% include footer.html %}

</html>