---
permalink: "/photography/"
---
<html>

  <head>
    <title>Photography</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include ga.html %}
  </head>

  {% include icons.html %}
  {% include fonts.html %}
  
  <style>
    {% include css/photography.css %}
  </style>

  <script>
    {% include js/photography.js %}
  </script> 

  <body>
    <a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a>
    <br />

    <h1>Photography</h1>

    <p>
      My favorite form of photography is macro photography. I don't have a macro lens, so instead I use some extension tubes. Most of my photos I take under natural light, but I am starting to experiment a little more with a flash.
    </p>

    <img src="/images/lizard.jpg" alt="Lizard picture"/>
    <img src="/images/wolf-spider.jpg" alt="Wolf spider picture"/>
    <img src="/images/fillmore-sunset.jpg" alt="Sunset in Fillmore picture"/>
    
  </body>
  {% include footer.html %}

</html>