---
permalink: "/programming/"
---
<html>

  <head>
    <title>Programming</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include ga.html %}
  </head>

  {% include icons.html %}
  {% include fonts.html %}
  
  <style>
    {% include css/programming.css %}
  </style>

  <body>
    <a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a>
    <br />

    <h1>Programming</h1>

    <p>
      I program mainly in Python and more recently JavaScript. I use Python for my programming involving mass spectrometry, plotting, and machine learning.
    </p>
    <p>
      I am in the process of learning full-stack web development. On the backend I like to use node js with express. For the frontend I like using React.
    </p>
    <p>
      I also have some experience with Ruby (including Ruby on Rails) and PHP. I learned how to program in Java back in high school, but I've since forgotten most of the syntax.
    </p>
    <p>
      The best way to see what I'm currently working on is to check out my <a href="https://github.com/emptyport">GitHub</a> page.
    </p>
    
  </body>
  {% include footer.html %}

</html>