---
permalink: "/programming/"
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

		<title>Programming</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />		
		
		{% include icons.html %}
		{% include fonts.html %}
		{% include ga.html %}

	</head>
	<body class="bg-programming">
        <div class="page-container">
            <div class="nav-container">
                {% include nav.html %}
            </div>
            
            <div class='content-container'>
                <p class="left-align-p">
                    I originally got into programming so that I could build my own laser light show. So far I've only managed to make a regular light show, but programming has stuck with me. If you want to skip the long story of my programming history, <a href="#skills">you can jump down to the list of programming skills</a>.
                </p>

                <p class="left-align-p">
                    I got into bioinformatics early on in my programming career. I started out in Ruby and then made the switch to Python. As an undergraduate I developed the ISotope Extractor, or ISE, for Deuterater. Deuterater calculates how quickly proteins are created or destroyed using data from mass spectrometers. The problem with mass spectrometry data is that the files are rather large and contain a lot of noise. There were several iterations of ISE, but the one we finally settled on ended up being quite simple. The below video gives a demonstration of how it works. The basic idea is to find a set of peak series and condense them down into a single series of peaks. It's also one of my first attempts at creating a 3d animation, so bear with me.
                </p>

                <div class='embed-container'><iframe src='https://www.youtube.com/embed/k7HyzrPeRA8' frameborder='0' allowfullscreen></iframe></div>

                <p class="left-align-p">
                    After I graduated with my Bachelor's degree, I worked at Qualtrics for a year and a half. I started out in customer support and worked my way into the role of a support engineer. I took care of bug fixes in existing PHP code, rewrote some custom APIs (also in PHP), and then designed and implemented an API from scratch in Ruby on Rails. By this point I'd forgotten most of my Ruby and this was my first time working with Rails, so I'm by no means an expert with Rails.
                </p>

                <p class="left-align-p">
                    Also while at Qualtrics, I started to get into web programming and machine learning. I wrote a couple small utility programs in Python using natural language processing. One program could analyze the contents of an email and determine if it was an automatic out of office response and the other was the beginnings of a chatbot. The out of office filter did not end up being implemented, but there was interest in the chatbot. A patent application was filed for the chatbot and that is currently pending.
                </p>

                <p class="left-align-p">
                    Since my time at Qualtrics, I've applied myself more to learning web development. I've completed the <em>Responsive Web Design</em> and <em>Javascript Algorithms and Data Structures</em> certifications from <a href="https://www.freecodecamp.org/emptyport" target="_blank">freeCodeCamp</a>.
                </p>

                <p class="left-align-p">
                    Currently I dedicate a lot of my programming time on creating JavaScript modules for bioinformatics, in particular proteomics. I've released several modules on <a href="https://www.npmjs.com/~emptyport" target="_blank">npm</a> under an MIT license. They range from simple utility modules for parsing molecular formula to more specialized modules for simulating peptide fragmentation inside a mass spectrometer.
                </p>

                <p class="left-align-p">
                    One of my pet projects is <a href="https://emptyport.github.io/omics-js/" target="_blank">Omics.js</a>, a collection of JavaScript modules that are useful to the "omics." Omics.js is my way of compiling a list of good, bioinformatics focused JavaScript modules for the community and to see what is still missing. I am slowly filling in the gaps with my own modules that you can see on my <a href="https://github.com/emptyport" target="_blank">Github</a> or on <a href="https://www.npmjs.com/~emptyport" target="_blank">npm</a>. In my experience, most scientific programming is done in Python. JavaScript is not the obvious choice for starting a bioinformatics project, but in my experience it is fast, easy to learn, and coupling JavaScript with HTML/CSS can provide for friendlier ways of viewing data. That being said I still do program in Python, but I am migrating to JavaScript.
                </p>
                
                <p>Here is a list of my programming experience/skillset:</p>
                <div id="skills">
                    <div class="skill-list">
                        Proficient
                        <ul>
                            <li>
                                JavaScript
                            </li>
                            <li>
                                Python
                            </li>
                            <li>
                                Linux
                            </li>
                            <li>
                                Windows
                            </li>
                            <li>
                                macOS
                            </li>
                        </ul>
                    </div>
                    <div class="skill-list">
                        Working knowledge
                        <ul>
                            <li>
                                HTML/CSS
                            </li>
                            <li>
                                React
                            </li>
                            <li>
                                Ruby
                            </li>
                            <li>
                                PHP
                            </li>
                            <li>
                                MySQL
                            </li>
                        </ul>
                    </div>
                    <div class="skill-list">
                        Familiar with
                        <ul>
                            <li>
                                Docker
                            </li>
                            <li>
                                MongoDB
                            </li>
                            <li>
                                Java
                            </li>
                            <li>
                                C/C++
                            </li>
                        </ul>
                    </div>
                        
                        
                </div>

                <div>
                    <p class="left-align-p">
                        You can view a complete list of my released JavaScript modules on <a href="https://www.npmjs.com/~emptyport" target="_blank">npm</a>. All my ongoing projects can be found on <a href="https://github.com/emptyport" target="_blank">GitHub</a>. My released modules on npm have thorough documentation and tests (with the exception of peptide-spectrum-match which is still undergoing work). My other projects are mostly small projects that I was trying out and tend not to have good documentation, but most of them are also on the older side. The more I program the better my tests and documentation become. 
                    </p>
                </div>
                
                <br />
            </div>

            <div class="footer">
                {% include footer.html %}
            </div>
        </div>	

        <script>
            console.log("As far as I can tell, the X-XSS-Protection error is on the part of YouTube and/or Chrome");
        </script>
	</body>

    {% include cookieconsent.html %}

	<script>
		var homeTab = document.getElementById('tab-programming');
		homeTab.classList.add('bg-programming');
	</script>
</html>