---
permalink: "/science/"
---
<html>
  <head>
    <title>Science</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    {% include ga.html %}
  </head>

  <header>
    {% include science-header.html %}
  </header>

  <body>
    <h1>
      I am a scientist
    </h1>
    <p>
      My love of science stretches back to before I can remember. Starting with bug catching in the backyard, to deciding that cloning would be a great 5<sup>th</sup> grade science project, to beginning a Ph.D. program in biochemistry, science has been a driving force in my life.
    </p>
    <p>
      Not only do I love to do science, I also love to share science. I take every opportunity I can to share my research at scientific conferences in front of a technical crowd. I also look for ways to make science more accessible to the average person. Doing so not only helps them understand what I am doing, but it also helps me make sure I myself understand what I am doing.
    </p>

  </body>
    {% include footer.html %}

</html>
