---
permalink: "/science/scorpions/"
---
<html>

  <head>
    <title>Scorpion Fluorescence</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    {% include ga.html %}
  </head>

  <header>
    {% include science-header.html %}
  </header>

  <body>
    <img class='img scorpion' src='/images/scorpion.jpeg'/>

    <h1>Scorpion Fluorescence</h1>

    <p>
      All scorpions fluoresce under ultraviolet, aka UV or "black," light. What this means is that when UV light hits the scorpion, something in their skin absorbs that light and then sends it back out at a different wavelength. In the case of scorpions, this emitted light is green.
    </p>
    <p>
      Although there are lots of short articles on the internet about why scorpions might fluoresce, if you read the actual scientific literature you will find that no one really knows. There is some evidence here and there in support of certain theories, but the truth is that no one has any real compelling evidence to say why scorpions fluoresce.
    </p>
    <p>
      My research involved investigating whether or not there were any differences in the color of the emitted light. The idea was that if one scorpion species gave off one wavelength of color and another scorpion species gave off a different color, the fluorescence could then be used to tell the two species apart. 
    <p/>
    <p>
      I am currently working on summarizing all of the research done on scorpion fluorescence. Once that is done I will post a link to it here.
    </p>
  </body>
  {% include footer.html %}

</html>
