---
permalink: "/search/"
---

<head>
  <title>Search</title>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css" />		

  {% include ga.html %}
</head>

{% include icons.html %}
{% include fonts.html %}



<script>
  {% include js/lunr.js %}
</script>


<script>
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');

    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split('=');

      if (pair[0] === variable) {
        return decodeURIComponent(pair[1].replace(/\+/g, '%20'));
      }
    }
  }

  function loadJSON(callback) {   

    var xobj = new XMLHttpRequest();
    xobj.overrideMimeType("application/json");
    xobj.open('GET', '{{ site.base_url }}/data/content.json', true); // Replace 'my_data' with the path to your file
    xobj.onreadystatechange = function () {
          if (xobj.readyState == 4 && xobj.status == "200") {
            // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
            callback(xobj.responseText);
          }
    };
    xobj.send(null);  
  }

  function displaySearchResults(results, store) {
    var searchResults = document.getElementById('blog-list');

    if (results.length) { // Are there any results?
      var appendString = '';

      for (var i = 0; i < results.length; i++) {  // Iterate over the results
        var item = store[results[i].ref];
        appendString += '<article><h1><a href="' + item.url + '">' + item.title + '</a></h1>';
        appendString += '<p>' + item.summary + '...</p></article>';
      }

      searchResults.innerHTML = appendString;
    } else {
      searchResults.innerHTML = 'No results found';
    }
  }

  function init() {
    loadJSON(function(response) {
      // Parse JSON string into object
        var data = JSON.parse(response);
        
        var idx = lunr(function () {
          this.ref('key');
          this.field('title');
          this.field('content');

          for(var key in data) {
            this.add({
              'key': key,
              'title': data[key].title,
              'content': data[key].content
            });
          }
        });

        var searchTerm = getQueryVariable('query');
        var results = idx.search(searchTerm);
        displaySearchResults(results, data);
    });
  }


  init();

  
</script>

<body class="bg-blog">
    <div class="page-container">
        <div class="nav-container">
            {% include nav.html %}
        </div>
        
        <div class='content-container'>
            <div class="search-div">
              <form action="{{ site.base_url }}/search" method="get" class="search-form">
                <input type="text" id="search-box" name="query" placeholder="Search">
                <input type="submit" value="Go!">
              </form>
            </div>
            <div id='blog-list' class="blog-list"></div>
        </div>

        <div class="footer">
            {% include footer.html %}
        </div>
    </div>	
</body>

{% include cookieconsent.html %}

<script>
var homeTab = document.getElementById('tab-blog');
homeTab.classList.add('bg-blog');
</script>
