---
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

		<title>Michael Porter</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />		
		
		{% include icons.html %}
		{% include fonts.html %}
		{% include ga.html %}

	</head>
	<body class='bg-home'>
		<div class="page-container">
			<div class="nav-container">
				{% include nav.html %}
			</div>
			
			<div class='content-container'>
				<h2>
					Hey!
				</h2>

				<h3>
					Welcome to my website!
				</h3>

				<p>
					I'm a scientist and programmer.
				</p>

				<p>
					Take a look around and feel free to connect with me on social media!
				</p>

				<div class="social">
					<a href="https://github.com/emptyport" target="_blank"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a>
					<a href="https://www.linkedin.com/in/mtporter/" target="_blank"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a>
					<a href="https://twitter.com/MikeTheBiochem" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
				</div>
				
			</div>

			<div class="footer">
				{% include footer.html %}
			</div>
		</div>	
	</body>

	{% include cookieconsent.html %}
		

	<script>
		var homeTab = document.getElementById('tab-home');
		homeTab.classList.add('bg-home');
	</script>
</html>
