html body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: black;
  font-size: 16px;
}

.container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-10%); }
  to {opacity: 1; transform: translateX(0%); }
}

.list-item {
  margin-top: 20px;
  font-size: 4vw;
}

.icon-user {
  font-size: 50px;
}

.icon-flask {
  font-size: 50px;
}

.icon-laptop {
  font-size: 50px;
}

.icon-camera {
  font-size: 50px;
}

.icon-book {
  font-size: 50px;
}

@media screen and (min-width: 700px) {
  .list-item {
    font-size: 1em;
  }
}

.list-item-one {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0s;
}

.list-item-two {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.1s;
}

.list-item-three {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.2s;
}

.list-item-four {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.3s;
}

.list-item-five {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.4s;
}

.list-item a {
  color: white;
  text-decoration: none;
}

.list-item a:hover {
  color: #0066ff;
  text-decoration: none;
}

.list-item a:active {
  text-decoration: none;

}

.list-item a:visited {
  text-decoration: none;

}

