{% include icons.html %}
{% include fonts.html %}
<style>
  {% include css/science.css %}
</style>

<script>
  {% include js/science.js %}
</script>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<div class="topnav" id="myTopnav">
  <a href="/"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a>
  <a href="/science">Overview</a>
  <a href="/science/scorpions">Scorpion Fluorescence</a>
  <a href="/science/entomology">Entomology</a>
  <a href="/science/mass-spec">Mass Spectrometry</a>
  <a href="javascript:void(0);" class="nav-icon" onclick="adjustNav()">&#9776;</a>
</div>