---
permalink: "/art/"
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

		<title>Art</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />		
		
		{% include icons.html %}
		{% include fonts.html %}
		{% include ga.html %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>

	</head>
	<body class="bg-art">
        <div class="page-container">
            <div class="nav-container">
                {% include nav.html %}
            </div>
            
            <div class='content-container'>
				<p>
					Here is a small sample of some of my art. 
				</p>
				
				<div class="galleria">
					
				</div>
				<script>
					var data = {% include imageList.json %};
					(function() { 
						Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js');
						Galleria.run('.galleria', {
							dataSource: data,
						});
						Galleria.ready(function() {
    						var gallery = this;
    						this.bind('image', function(e) {
       							$(e.imageTarget).unbind('click').click(function() {
            						gallery.toggleFullscreen();
        						});
    						});
						});
					}());
				</script>
            </div>

            <div class="footer">
                {% include footer.html %}
            </div>
        </div>	
    </body>

	<script>
		var homeTab = document.getElementById('tab-art');
		homeTab.classList.add('bg-art');
	</script>
</html>