html, body {
  background-color: #f2f2f2;
  font-family: 'Ubuntu', sans-serif;
}

img {
  max-width: 250px;
  display: block;
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 10%;
}

h1, p {
  display: block;
  margin-left: 40%;
  margin-right: 10%;
}

@media screen and (max-width: 700px) {
  h1, p {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
  }
}