---
---

<!DOCTYPE html>
<html>
<head>
	<meta content="{{ page.title }}" property="og:title"/>
	<meta content="{{ page.description }}" property="og:description"/>
	<meta content="{{ site.url }}{{ page.url }}" property="og:url"/>
	<link rel="stylesheet" href="/css/blog.css">
	<script src="/js/blog.js"></script>
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	<title>{{ page.title }}</title>
	{% include ga.html %}
</head>

{% include icons.html %}
{% include fonts.html %}

<body>
	<div class="my-nav">
		<a href="/blog"><svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg></a>
	</div>
	<div class="container">
		<article>
			<h1><a href="{{ site.base_url }}{{ page.url }}">{{ page.title }}</a></h1>
			<p>{{ page.date | date_to_string }}</p>
			<p>{{ content }}</p>
		</article>
	</div>
</body>
  {% include footer.html %}

</html>
