---
---

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta content="{{ page.title }}" property="og:title"/>
	<meta content="{{ page.description }}" property="og:description"/>
	<meta content="{{ site.url }}{{ page.url }}" property="og:url"/>	
	<link rel="stylesheet" href="/css/blog.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css" />		


	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	<title>{{ page.title }}</title>
	{% include ga.html %}
</head>

{% include icons.html %}
{% include fonts.html %}

<body class="bg-blog">
	<div class="nav-container">
		{% include nav.html %}
	</div>

	
	<div class="content-container">
		<div class="blog-article">
			<article>
				<h1><a href="{{ site.base_url }}{{ page.url }}">{{ page.title }}</a></h1>
				<p>{{ page.date | date_to_string }}</p>
				<p>{{ content }}</p>
			</article>
		</div>
		<br />
	</div>
	
	<div class="footer">
		{% include footer.html %}
	</div>
</body>

<script>
	var homeTab = document.getElementById('tab-blog');
	homeTab.classList.add('bg-blog');
</script>


</html>
