---
permalink: /404.html
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

		<title>Not Found</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css" />		
		
		{% include icons.html %}
		{% include fonts.html %}
		{% include ga.html %}

	</head>
	<body class='bg-home'>
		<div class="page-container">
			<div class="nav-container">
				{% include nav.html %}
			</div>
			
			<div class='content-container'>
				It looks like this page doesn't exist :(
				
			</div>

			<div class="footer">
				{% include footer.html %}
			</div>
		</div>	
	</body>

		

	<script>
		var homeTab = document.getElementById('tab-home');
		homeTab.classList.add('bg-home');
	</script>
</html>
